/README.md @DrKJeff16 @vlu1s
.clangd @DrKJeff16
.clang-format @DrKJeff16
*.mk @DrKJeff16
Makefile @DrKJeff16
/build.bash @vlu1s @DrKJeff16
/src/ @vlu1s @DrKJeff16
/include/ @DrKJeff16 @vlu1s
.gitignore @DrKJeff16 @vlu1s
/LICENSE @vlu1s
/.github/CODEOWNERS @DrKJeff16
compiling_flags.txt @DrKJeff16
